* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
}

#header {
  position: fixed;
  height: 10%;
  width: 100%;
  background-color: #6f6af7;
  display: flex;
  align-items: center;
  color: white;
  z-index: 10;
}

.dappr {
  margin: 0px 120px 0px 50px;
  font-family: "Delius Unicase";
  font-weight: 700;
  font-size: xx-large;
}

#header .text {
  display: flex;
  font-family: "DM Sans";
  font-size: x-large;
  margin-right: 80px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: white;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px 50px 5px 5px;
  font-size: medium;
  border-radius: 20px;
}

.search-bar i {
  /* background-color: black; */
  position: absolute;
  right: 10px;
  color: gray;
  cursor: pointer;
}

#Menu-bar {
  margin-left: 150px;
  font-size: xx-large;
  font-weight: 800;
  cursor: pointer;
}


#fake-header{
  width: 100%;
  height: 10%;
  background-color: rgb(194, 211, 161);
}

#page-1{
  width: 100%;
  height: 90%;
}


#page1-empty{
  width: 100%;
  height: 10%;
  /* background-color: rgb(197, 218, 218); */
}



#page1-hero{
  display: flex;
  width: 90%;
  height: 60%;
}

#left-img {
  width: 35%; 
  height: 100%;
  /* border: 2px solid darkred; */
  margin:0% 3% 0% 5%;
  border-radius: 10px;
}
#left-img img{
  height: 100%;
  width: 70%;
  margin-left: 140px;
}


#right-img {
  position: relative;
  width: 55%; 
  height: 100%;
  /* border: 2px solid darkred; */
  background-color: #E5D8FF;
  border-radius: 10px;
}
#right-img p{
  margin: 30px 0px 0px 20px;
  font-family: 'DM Sans';
  letter-spacing: 1px;
  line-height: 1.5;
  color: #6F7373;
}


.page1-cards{
  display: flex;
  width: 90%;
  height: 30%;
  align-items: last baseline;
  margin-left: 200px;
  /* background: #d09595; */
}

.card{
  width: 200px;
  height: 70px;
  margin: 1px 114px 40px 0px;
  padding: 10px 40px 0px 10px;
  border-radius: 10px;
  box-shadow: 0px 9px 31px 0px #00000066;

}

.card p{
  font-family: 'DM Sans';
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1.5;

}

#c1{
  background-color: #929DFF;
}
#c2{
background-color: #734CF2;
}
#c3{
  background-color: #D288FF;
}
#c4{
  background-color: #000000;
}

#contact-sticky-img{
  position: fixed;
  bottom: 2px;
  left: 83%;
}

#contact-sticky-img img{
  height: 100px;
  cursor: pointer;
  z-index: 9;
}

#page2{
  width: 100%;
  height: 100%;
  /* background-color: rgb(188, 216, 216); */ 
  padding: 12% 4% 3% 4%;
  
}

#p2-div1{
  width: 100%;
  height: 100%;
  /* border: 2px solid rgb(234, 6, 6); */
  background-color: #483EFF;
  border-radius: 15px;
  display: flex;
}

#left-div{
  width: 30%;
  height: 100%;
  /* border: 2px solid rgb(1, 4, 55); */
  background-color: #483EFF;
  border-radius: 15px;

}

.btn{
  width: 250px;
  height: 75px;
  margin: 0px 0px 30px 80px;
}

#b1{
  margin-top: 80px;
  border-radius: 10px;
  background-color: #BCE0F6;
  box-shadow: 0px 6px 35px 0px #00000063;
  border: none;
  cursor: pointer;

}
#b1 p{
  font-family: 'DM Sans';
  color: #000000;
  font-weight: 700;
  font-size: large;
}


#b2{
  margin-top: 10px;
  border-radius: 10px;
  background-color: #483EFF;
  border: 3px solid #FFFFFF;
  cursor: pointer;

}
#b2 p{
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: large;
}


#b3{
  margin-top: 10px;
  border-radius: 10px;
  background-color: #483EFF;
  border: 3px solid #FFFFFF;
  cursor: pointer;

}
#b3 p{
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: large;
}


#right-div{
  width:70%;
  height:90%;
  border: 2px solid white;
  margin: 20px ;
  border-radius: 15px;
  background-color: #FFFFFF;
}

#info-box{
  padding: 70px 0px 0px 80px;
}
#info-box p{
  font-family: 'Inter';
  color: #04285A;
  font-weight: 700;
  font-size: xx-large;
  letter-spacing: 1px;
}
#info-box ul{
  margin-top: 30px;
  margin-left: 25px;
}
#info-box li{
  font-family: 'Roboto';
  margin-bottom: 20px;
  list-style: none;
  color: #143565;
}

#info-box span{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: medium;
  letter-spacing: 2px;
  color: #04285A;
}
#next-btn{
 margin: 8% 1% 1% 70%;
}
#next-btn button{
  width: 120px;
  height: 50px;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-family: 'Roboto';
  cursor: pointer;

}
